<p>
    Allowed format: QR Code <br>
    {{scannedValue}}
</p>
<div>
    <button type="button" (click)="startCamera()">Start Camera</button>
</div>

<div class="camera-preview">
    <zxing-scanner 
        [autostart]="autostart"
        [device]="deviceCurrent"
        (scanSuccess)="onScan($event)"
        (permissionResponse)="onHasPermission($event)"
        #scanner
        (camerasFound)="onCamerasFound($event)"
        [formats]="allowedFormats"
        (torchCompatible)="onTorchCompatible($event)"
        (deviceChange)="onDeviceChange($event)"></zxing-scanner>
</div>
